body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: system-ui;
    color: #444 ;
  }
  /*
   * Formatting the header area
   */
  
  header {
    /* background-color: #fc65fc; */
    height: 35px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
    text-align: center;
  }
  
body,
input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 60px; */
}
.icon {
  width: 34px;
}
h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}
form {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: auto;
}
input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #b545d7;
  border-radius: 4px;
  margin-bottom: 24px;
}
::placeholder {
  color: #8e8ea0;
  opacity: 1;
}

button {
  padding: 12px;
  color: #fff;
  background-color: #c0a6f1;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #9c6fef;
}

.flex-container {
  display: flex;  /* Use flexbox to align children side by side */
  flex-direction: row;
  justify-content: space-around; /* Use flexbox to distribute space around children */
  width: 100%;   /* Set the width of the container */
  height: 80vh;
  /* border: 1px solid rgb(224, 166, 237);   */
  margin-top: 90px;

}

#userPanel {
  width: 100%;        /* Ensure the content element takes up the full width of its parent */
  padding: 0;         /* Remove any padding */
  margin: 0;          /* Remove any margins */
  /* ... other properties ... */
}

.flex-child{
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgb(224, 166, 237);   */
  text-align: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.output {
  height: 100px;
}

.speech-container {
  /* display: grid; */
}

#text-output {
  width: 350px;
  text-align: center;
}

#hints {
  width: 200px;
}

.top-bar {
  background-color: #a653d3;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.top-buttons{
    display: flex;
    gap: 10px;
    padding: 10px 15px;
}


@media screen and (max-width: 992px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
    align-items: center;
    width: 90%;   /* Set the width of the container */
    height: 140vh;
  }

}

.flash {
  margin: 1em 0px;
  padding: 1em;
  background: rgb(202, 230, 246);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(55, 123, 168);
  border-image: initial;
  margin: auto;
  width: 320px;
}

#modelSelect {
  width: auto;
  display: inline;
}

#retryBtn {
  padding: 0px 5px 2px 5px;
  margin: 5px;
  background-color: transparent;
  color: #9c6fef;
}

#retryBtn:hover {
  color: #9a37cf;
  text-shadow: #c0a6f1;
  background-color: white;
  /* background-color:#c0a6f17e; */
}

#output-command{
  display: inline;
}

table {
  text-align: center;
}

.jd-cell {
  border: 1px solid rgba(0,0,0,0);
  text-align: center;
}

.vb-cell {
  border: 1px solid rgba(0,0,0,0);
  text-align: center;
}

.jd-delete {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../images/delete.png');
  background-size: contain;
  border-radius: 100%;
}

.jd-delete:hover {
  background-color: #c2c2c2a0;
  /* border: 2px solid #9c6fef; */
}

.center {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.btn-submit {
  width: -webkit-fill-available;
}

#btn-add-line {
  background: white;
}

#model-info{
  background: white;
}