{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Teach Robot to Move{% endblock %}</h1>
{% endblock %}
{% block content %}
<p>Only authenticated users can see this page.</p>
<ul id="commandsList"></ul>


<label for="operationSelect">Operation:</label>
<select id="operationSelect">
    <option value="add">Add</option>
    <option value="delete">Delete</option>
</select>

<label for="commandName">Command Name:</label>
<input type="text" id="commandName" name="commandName">
<button type="button" onclick="performSelectedOperation()">Submit</button>

<script src="{{ url_for('static', filename='scripts/admin.js')}}"></script>
{% endblock %}


