<!doctype html>
<title> JD Robot</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<nav class="top-bar">
  <div class="top-buttons">
      <button id="btn1"><a href="{{ url_for('auth.login') }}">Log In</a></button>
  </div>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
