<!-- index.html -->

{% extends 'base.html' %}

{% block content %}
<script async src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>

<script type="importmap">
    {
        "imports": {
            "three": "https://unpkg.com/three@v0.149.0/build/three.module.js",
            "three/addons/": "https://unpkg.com/three@v0.149.0/examples/jsm/"
            }
    }
</script> 

<div id = "container_1" class = "flex-container">
    <!-- Left side content (original content) -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Model Intro</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="model-intro">
                Speech recognition involves receiving speech through a device's microphone, which is then checked by a speech recognition service against a list of grammar (basically, the vocabulary you want to have recognized in a particular app.) When a word or phrase is successfully recognized, it is returned as a result (or list of results) as a text string, and further actions can be initiated as a result. The Web Speech API has a main controller interface for this — SpeechRecognition — plus a number of closely-related interfaces for representing grammar, results, etc.
            </div>
          </div>
        </div>
      </div>
    <div class = "flex-child">
        <h1> Teach robot to move </h1>
        <br>
        <h6>  Choose the STT model</h6>
        <div>
            <select class="form-select" id="modelSelect">
                <option value="Mozilla"> Mozilla </option>
                <option value="whisper"> Whisper </option>
                <option value="google-cloud"> Google Cloud </option>
            </select>
            <button id="model-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> 
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 50 50">
                <path d="M 25 2 C 12.309295 2 2 12.309295 2 25 C 2 37.690705 12.309295 48 25 48 C 37.690705 48 48 37.690705 48 25 C 48 12.309295 37.690705 2 25 2 z M 25 4 C 36.609824 4 46 13.390176 46 25 C 46 36.609824 36.609824 46 25 46 C 13.390176 46 4 36.609824 4 25 C 4 13.390176 13.390176 4 25 4 z M 25 11 A 3 3 0 0 0 22 14 A 3 3 0 0 0 25 17 A 3 3 0 0 0 28 14 A 3 3 0 0 0 25 11 z M 21 21 L 21 23 L 22 23 L 23 23 L 23 36 L 22 36 L 21 36 L 21 38 L 22 38 L 23 38 L 27 38 L 28 38 L 29 38 L 29 36 L 28 36 L 27 36 L 27 21 L 26 21 L 22 21 L 21 21 z"></path>
                </svg>
            </button>
        </div>
        <br></br>
        <h5> 👇 Click here and start speaking </h5>
        <div class="speech-container">
            <button id="start-recording" type="button" >💬 Start listening</button>
            <button id="stop" type="button" style="display:none;">🛑 Stop listening</button>
            <p id="record-notice" style="visibility:hidden;" > Your voice is now being recorded... <br> Click the "Stop" button to stop </p>
        </div>

        <p id="status"></p>
        <!--<a id="downloadLink" style="display: none;" download>downloadAudio</a>-->

        <form id="user-form">
            <br>
            <textarea id="draft" type="text" class="output"></textarea>
            <br>
            <button type="submit">Generate</button>
        </form>
    
            <div id="text-output">
            <!-- The generated output will be displayed here -->
        </div>
        <br>
        <div id="output-loading" class="spinner-border" role="status" style="display:none;">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div id="output-block" style="display:none;">
            <h6> You might want to make the robot </h6>
            <h5 id="output-command"> </h5>
            <button id="retryBtn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                </svg>
            </button> 
            <button id="btn-perform-action"> GO! </button>
        </div>
    </div>         

    <!--
    <div class = "flex-child">
        <h1> Robot </h1>
        <img src="{{ url_for('static', filename='images/robot.png') }}" alt="robot" width="300" height="300">
    </div>
    -->

</div>

<!--<script src="{{ url_for('static', filename='scripts/selectModel.js')}}"></script>-->
<!-- <script type="module" src="{{ url_for('static', filename='scripts/selectModel.js')}}"></script> -->
<script type="module" src="{{ url_for('static', filename='scripts/main.js')}}"></script>
<script type="module" src="{{ url_for('static', filename='scripts/robot.js') }}"></script>
<!--<script src="{{ url_for('static', filename='scripts/speechRecognition.js')}}"></script>-->
<!--<script src="{{ url_for('static', filename='scripts/mediaRecorder.js')}}"></script>-->
{% endblock %}