<!DOCTYPE html>
<html lang="en">
	<head>
		<title>three.js webgl - skinning and morphing</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		
		<style>
			body {
				color: #222;
			}

			a {
				color: #2fa1d6;
			}

			p {
				max-width: 600px;
				margin-left: auto;
				margin-right: auto;
				padding: 0 2em;
			}
		</style>
	</head>

	<body>

		<!-- Import maps polyfill -->
		<!-- Remove this when import maps will be widely supported -->
		

		<script type="module">


		</script>

	</body>
</html>